{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>CovReserve</title>
     <link rel="stylesheet" type="text/css"  href="{%  static  'css/styleh.css'  %}"/>
          <link rel="stylesheet" type="text/css"  href="{%  static  'css/grid.css'  %}"/>
    </head>
    <body>

        <section class="homescreen">


    <div class="background-wrap">
        <video id="video-bg-elem" width="2000"  preload="auto" autoplay="true" loop="loop" muted="muted">
            <source src="{% static 'doctors.mp4' %}" type="video/mp4">
            Video not supported
        </video>
    </div>
    <div class="content">
    <h1>CovReserve&nbsp;<sub>helping simplified</sub></h1>


        <div class="container-1">

             <div class="buyer">
                     <a href="{% url 'loginb' %}">
                 <img class="image-resize" src="{% static 'images/Buy.jpg' %}">
                 </a>
            </div>
            <div class="seller">
                 <a href="{% url 'logins' %}">
                <img class="image-resize" src="{% static 'images/Sell.jpg' %}">
                </a>
             </div>
        </div>



        </section>

                <section class="section-image">
                        <ul class="tech-showcase clearfix">



                            <li><figure class="earphones" ><img src="{% static 'images/1.jpg' %}"></figure></li>
                            <li><figure class="earphones" ><img src="{% static 'images/2.jpg' %}"></figure></li>
                            <li><figure class="earphones" ><img src="{% static 'images/3.jpg' %}"></figure></li>
                            <li><figure class="earphones" ><img src="{% static 'images/4.jpg' %}"></figure></li>
                        </ul>
                        <ul class="tech-showcase clearfix">
                            <li><figure class="earphones" ><img src="{% static 'images/5.jpg' %}"></figure></li>
                            <li><figure class="earphones" ><img src="{% static 'images/6.jpg' %}"></figure></li>
                            <li><figure class="earphones" ><img src="{% static 'images/7.jpg' %}"></figure></li>
                            <li><figure class="earphones" ><img src="{% static 'images/8.jpg' %}"></figure></li>


                        </ul>

                </section>







</html>